<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %> </div>
<% end %>
<div id="heroContainer">
    <div id="hero">
        <div>
            <%= image_tag "hero/hoop.jpg" %>
            <h2> <span id="h2_join">join.</span> <span class="h2_discover"> discover. </span> <br> <span class="blue ball">ball.</span></h2>
        </div>
        <div>
            <%= image_tag "hero/mobile.jpg" %>
            <h2>Check out our <br><span class="blue">mobile app</span> today</h2>
        </div>
        <div>
            <%= image_tag "hero/gear.jpg" %>
            <h2>10 reasons<br> why it's <span class="blue">time</span><br> to upgrade your gear</h2>
        </div>
        <div>
            <%= image_tag "hero/game.jpg" %>
            <h2 class="smaller">Basketball<br>is happening <span class="blue">now</span><br>Find a pick-up game!</h2>
        </div>
    </div>
    <div id="basketball_graphic_wrapper">
        <div id="basketball_graphic_container">
            <span id="basketball_graphic"></span>
        </div>
    </div>
</div>
<div id="content">
    <div id="featured">
        <div class="featured_cell">
            <%= image_tag "feature/1.jpg" %>
            <div class="feature_heading_container">
                <a href="#">Join a Pick-Up Game</a>
            </div>
        </div>
        <div class="featured_cell">
            <%= image_tag "feature/2.jpg" %>
              <div class="feature_heading_container">
                  <a href="#">Find a Pick-Up game starting shortly near you</a>
              </div>
        </div>
        <div class="featured_cell">
                <%= image_tag "feature/3.jpg" %>
              <div class="feature_heading_container">
                  <a href="#">Rate our members</a>
              </div>
        </div>
        <div class="featured_cell">
            <%= image_tag "feature/4.jpg" %>
              <div class="feature_heading_container">
                  <a href="#">Check out our mobile version</a>
              </div>
        </div>
    </div>
    <%= render 'ads/placeholder' %>
    <div id="heading_articles">
        <h3>ARTICLES</h3>  <a href="articles.html" class="more"> More >></a>
    </div>

      <div id="youtube_videos">
	        <div class="youtube_video_container">
	            <div class="youtube_video">
	                <img src="http://img.youtube.com/vi/kdb3vv-5ygI/0.jpg">
	                <a href="http://www.youtube.com/watch?v=kdb3vv-5ygI" class="play_btn"></a>
	                <%= render :partial => "modals/youtube_modal", :locals => {:vi => "kdb3vv-5ygI"} %>
	            </div>
	            <a class="video_title">
	                Javale Mcgee Bloopers Highlights
	            </a>
	            <p class="video_date">
	                Today
	            </p>
	        </div>
	        <div class="youtube_video_container">
	            <div class="youtube_video">
	                <img src="http://img.youtube.com/vi/zclIeiWhwCo/0.jpg">
	                <a href="http://www.youtube.com/watch?v=zclIeiWhwCo" class="play_btn"></a>
	                <%= render :partial => "modals/youtube_modal", :locals => {:vi => "zclIeiWhwCo"} %>
	            </div>
	            <a class="video_title">
	                Motivation - What Is Your Excuse?
	            </a>
	            <p class="video_date">
	                Yesterday
	            </p>
	        </div>
	        <div class="youtube_video_container">
	            <div class="youtube_video">
	                <img src="http://img.youtube.com/vi/lk-Oi9sLz2E/0.jpg">
	                <a href="http://www.youtube.com/watch?v=lk-Oi9sLz2E" class="play_btn"></a>
	                <%= render :partial => "modals/youtube_modal", :locals => {:vi => "lk-Oi9sLz2E"} %>
	            </div>
	            <a class="video_title">
	                Best Dunk Mix Ever 2011
	            </a>
	            <p class="video_date">
	                2 days ago
	            </p>
	        </div>
	        <div class="youtube_video_container">
	            <div class="youtube_video">
	                <img src="http://img.youtube.com/vi/EEtpH6ZEPOc/0.jpg">
	                <a href="http://www.youtube.com/watch?v=EEtpH6ZEPOc" class="play_btn"></a>
	                <%= render :partial => "modals/youtube_modal", :locals => {:vi => "EEtpH6ZEPOc"} %>
	            </div>
	            <a class="video_title">
	                10000 Hours episode 1
	            </a>
	            <p class="video_date">
	               1 month ago
	            </p>
	        </div>
	    </div>
</div>
<div id="noMap"></div>
