<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %> </div>
<% end %>
<div id="heroContainer">
    <div id="hero">
        <div>
            <%= image_tag "hero/hoop.jpg" %>
            <h2> <span id="h2_join">join.</span> <span class="h2_discover"> discover. </span> <br> <span class="blue ball">ball.</span></h2>
        </div>
        <div rel="http://insidefindbball.com/?p=1005">
        	<%= image_tag "hero/basketball_20s_legs.jpg", data: { href: "http://insidefindbball.com/?p=1005"} %>
            <h2 class="smaller">Pick-up Basketball in your <br>
            <span class="blue">20s</span> vs your <span class="blue">30s</span></h2>
        </div>
        <div>
            <%= image_tag "hero/coach_yelling.jpg", data: { href: 'http://insidefindbball.com/?p=1393'} %>
            <h2 class="smaller">5 Phrases you hate to hear<br><span class="blue"> from your basketball coach</span></h2>
        </div>
        <div>
            <%= image_tag "hero/game.jpg" %>
            <h2 class="smaller">Basketball<br>is happening <span class="blue">now</span><br>Find a pick-up game!</h2>
        </div>
    </div>
    <div id="basketball_graphic_wrapper">
        <div id="basketball_graphic_container">
            <span id="basketball_graphic"></span>
        </div>
    </div>
</div>
<div id="content">
    <div id="featured">
        <div class="featured_cell">
            <%= image_tag "feature/2.jpg" %>
              <div class="feature_heading_container">
                  <a target="_blank" href="http://insidefindbball.com/?p=1325">Join. Discover. Ball</a>
              </div>
        </div>
        <div class="featured_cell">
            <%= image_tag "feature/strong.jpg" %>
              <div class="feature_heading_container">
                  <a target="_blank" href="http://insidefindbball.com/?p=692">The perfect pre-game fruit shake</a>
              </div>
        </div>
        <div class="featured_cell">
            <%= image_tag "feature/cowboy.jpg" %>
            <div class="feature_heading_container">
                <a target="_blank" href="http://insidefindbball.com/?p=1096">A Stylish Thunder Duo</a>
            </div>
        </div>
        <div class="featured_cell">
                <%= image_tag "feature/jumpshot.jpg" %>
              <div class="feature_heading_container">
                  <a target="_blank" href="http://insidefindbball.com/?p=443">Ever wonder…who invented the JUMP SHOT?</a>
              </div>
        </div>
    </div>
    <div id="adspace_center">
        <%= render 'ads/ad_728x90' %>
    </div>
    <div id="heading_articles">
        <h3>VIDEOS</h3>
        <%= link_to "More >>", {:controller => "video_articles", :action => "index"}, class: "more" %>

    </div>
    <% @video_articles.each do |video_article| %>
        <%= render :partial => '/video_articles/video_article', :locals => {:video_article => video_article} %>
    <% end %>
</div>
<div id="noMap"></div>