<div id="heroContainer">
    <div id="hero">
        <div>
            <%= image_tag "hero/hoop.jpg" %>
            <h2> <span id="h2_join">join.</span> <span class="h2_discover"> discover. </span> <br> <span class="blue ball">ball.</span></h2>
        </div>
        <div>
            <%= image_tag "hero/mobile.jpg" %>
            <h2>Check out our <br><span class="blue">mobile app</span> today</h2>
        </div>
        <div>
            <%= image_tag "hero/gear.jpg" %>
            <h2>10 reasons<br> why it's <span class="blue">time</span><br> to upgrade your gear</h2>
        </div>
        <div>
            <%= image_tag "hero/game.jpg" %>
            <h2 class="smaller">Basketball<br>is happening <span class="blue">now</span><br>Find a pick-up game!</h2>
        </div>
    </div>
</div>
<div id="content">
    <div id="featured">
        <div class="featured_cell">
            <%= image_tag "feature/1.jpg" %>
            <div class="feature_heading_container">
                <a href="#">Join a Pick-Up Game</a>
            </div>
        </div>
        <div class="featured_cell">
            <%= image_tag "feature/2.jpg" %>
              <div class="feature_heading_container">
                  <a href="#">Find a Pick-Up game starting shortly near you</a>
              </div>
        </div>
        <div class="featured_cell">
                <%= image_tag "feature/3.jpg" %>
              <div class="feature_heading_container">
                  <a href="#">Rate our members</a>
              </div>
        </div>
        <div class="featured_cell">
            <%= image_tag "feature/4.jpg" %>
              <div class="feature_heading_container">
                  <a href="#">Check out our mobile version</a>
              </div>
        </div>
    </div>

    <div id="adspace">
        <a href="#">
            <%= image_tag "add_placeholder.jpg" %>
        </a>
    </div>

    <div id="heading_articles">
        <h3>ARTICLES</h3>  <a href="articles.html" class="more"> More >></a>
    </div>

      <div id="youtube_videos">
	        <div class="youtube_video_container">
	            <div class="youtube_video">
	                <img src="http://img.youtube.com/vi/kdb3vv-5ygI/0.jpg">
	                <a href="http://www.youtube.com/watch?v=kdb3vv-5ygI" class="play_btn"></a>
	                <div class="modal hide fade youtubeModal">
	                    <div class="modal-body">
	                        <div class="youtube_container">
	                        <iframe width="560" height="315" src="//www.youtube.com/embed/kdb3vv-5ygI" frameborder="0" allowfullscreen>
	                        </iframe>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <a class="video_title">
	                Javale Mcgee Bloopers Highlights
	            </a>
	            <p class="video_date">
	                Today
	            </p>
	        </div>
	        <div class="youtube_video_container">
	            <div class="youtube_video">
	                <img src="http://img.youtube.com/vi/zclIeiWhwCo/0.jpg">
	                <a href="http://www.youtube.com/watch?v=zclIeiWhwCo" class="play_btn"></a>
	                <div class="modal hide fade youtubeModal">
	                    <div class="modal-body">
	                        <div class="youtube_container">
	                            <iframe width="560" height="315" src="//www.youtube.com/embed/zclIeiWhwCo" frameborder="0" allowfullscreen>
	                            </iframe>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <a class="video_title">
	                Motivation - What Is Your Excuse?
	            </a>
	            <p class="video_date">
	                Yesterday
	            </p>
	        </div>
	        <div class="youtube_video_container">
	            <div class="youtube_video">
	                <img src="http://img.youtube.com/vi/lk-Oi9sLz2E/0.jpg">
	                <a href="http://www.youtube.com/watch?v=lk-Oi9sLz2E" class="play_btn"></a>
	                <div class="modal hide fade youtubeModal">
	                    <div class="modal-body">
	                        <div class="youtube_container">
	                            <iframe width="560" height="315" src="//www.youtube.com/embed/lk-Oi9sLz2E" frameborder="0" allowfullscreen>
	                            </iframe>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <a class="video_title">
	                Best Dunk Mix Ever 2011
	            </a>
	            <p class="video_date">
	                2 days ago
	            </p>
	        </div>
	        <div class="youtube_video_container">
	            <div class="youtube_video">
	                <img src="http://img.youtube.com/vi/EEtpH6ZEPOc/0.jpg">
	                <a href="http://www.youtube.com/watch?v=EEtpH6ZEPOc" class="play_btn"></a>
	                <div class="modal hide fade youtubeModal">
	                    <div class="modal-body">
	                        <div class="youtube_container">
	                            <iframe width="560" height="315" src="//www.youtube.com/embed/EEtpH6ZEPOc" frameborder="0" allowfullscreen>
	                            </iframe>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <a class="video_title">
	                10000 Hours episode 1
	            </a>
	            <p class="video_date">
	               1 month ago
	            </p>
	        </div>
	    </div>
</div>
<div id="noMap"></div>
