<div id="splash" class="cover">
    <div id="links_container">
    	<ul id="links">
        	<li><a href="http://insidefindbball.com/the-journey/">ABOUT</a></li>
            <li>|</li>
        	<li><a href="http://insidefindbball.com">BLOG</a></li>
            <li>|</li>
        	<li><a href="http://insidefindbball.com/join-us/">CONTACT</a></li>
            <li>|</li>
        	<li><a href="http://insidefindbball.com/join-us/">JOIN US</a></li>
        </ul>
    </div>
	<%= image_tag "splash2/logo_full.png", :id => 'splash_logo' %>
    <ul id="chiclets">
        <li><a href="https://www.facebook.com/Findbball"><%= image_tag("splash2/facebook.png") %></a></li>
        <li><a href="https://twitter.com/findbball"><%= image_tag("splash2/twitter.png") %></li>
        <li><a href="https://www.youtube.com/channel/UC0xN2SMytNM3HsFzmd0n7cQ"><%= image_tag("splash2/youtube.png") %></a></li>
        <li><a href="http://instagram.com/findbball"><%= image_tag("splash2/instagram.png") %></a></li>
    </ul>
	<div id="mailingListContainer">
        <p>
        Subscribe to stay updated on our Fall 2014 release
        </p>
		<form action="http://FindBball.us8.list-manage1.com/subscribe/post?u=260229d58e57a8eb09bd30837&amp;id=87674013ff"
	     method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			<input type="email" value="" name="EMAIL" class="email" id="mailingList" required><button type="submit" class="btn btn-primary" style="margin-left: 10px">Subscribe</button>
    		<div style="position: absolute; left: -5000px;"><input type="text" name="b_260229d58e57a8eb09bd30837_87674013ff" tabindex="-1" value=""></div>
		</form>
	</div>
    <%= image_tag "splash2/guy_small.png", :id => "guy" %>
</div>
</body>
