<div id="splash">
	<%= image_tag "logo_basketball_shadow.png", :id => 'splash_logo' %>
	<p><span class="black">Findbball.com</span> is coming this fall! Subscribe here:</p>
	<br />
	<div id="mailingListContainer">
		<form action="http://FindBball.us8.list-manage1.com/subscribe/post?u=260229d58e57a8eb09bd30837&amp;id=87674013ff" 
	     method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			<input type="email" value="" name="EMAIL" class="email" id="mailingList" required><button type="submit" class="btn btn-primary" style="margin-left: 10px">Submit</button>
			<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    		<div style="position: absolute; left: -5000px;"><input type="text" name="b_260229d58e57a8eb09bd30837_87674013ff" tabindex="-1" value=""></div>
		</form>
    <ul id="links">
    	<li><a href="http://insidefindbball.com/the-journey/">About us</a></li>
    	<li><a href="http://insidefindbball.com/home-2/">Blog</a></li>
    	<li><a href="http://insidefindbball.com/join-us/">Contact us</a></li> 
    	<li><a href="http://insidefindbball.com/join-us/">Join us</a></li>
    </ul>
	</div>
	<ul id="chiclets">
		<li><a href="https://www.facebook.com/Findbball"><%= image_tag("facebook.png") %></a></li>
	 	<li><a href="https://twitter.com/findbball"><%= image_tag("twitter.png") %></li> 
	 	<li><a href="https://www.youtube.com/channel/UC0xN2SMytNM3HsFzmd0n7cQ"><%= image_tag("youtube.png") %></a></li> 
	 	<li><a href="http://instagram.com/findbball"><%= image_tag("instagram.png") %></a></li>
	</ul>
</div>
</body>
