    <div class="sidebar right">
            <% if @event.member %>
                <div class="author_container">
                    <%= link_to (image_tag @event.member.profile_photo_thumb), member_path(@event.member) %></a><br>
                    added by <b><%= link_to @event.member.name, member_path(@event.member), class: "court" %></a></b><br>
                    <%=  time_ago_in_words(@event.created_at) %> ago<br>
                </div>
            <% end %>
        <div id="profile_right">
            <div id="court_map" class="mapEl">
            </div>
            <input type="hidden" id="lat" value="<%=@event.court.lat %>">
            <input type="hidden" id="lng" value="<%= @event.court.lng %>">
            <h4 id="milesAway"></h4>
            <p>
                <a target="_blank" href="http://maps.google.com/?q=<%=URI::encode(@event.court.location)%>">
                    Get Directions
                </a>
            </p>
        </div>
    </div>
