<h2 id="eventName" class="eventH2"><%= @event.name %></h2>
<%= link_to @event.court.name, @event.court, id: "courtLink" %>
<span id="eventTime">
    <%= @event.date_long %>
    <br>
    <%= @event.times_long %>
</span>
<br>
<span id="showCourtAddress" class="gray">
    <%= @event.court.format_location %>
</span>
<p id="courtHours">
    Open <%= @event.court.open_hours %>
</p>
<% if current_user? @event.member %>
    <%= link_to raw('<i class="glyphicon glyphicon-edit"></i> Edit'), edit_event_path(@event) %> |
    <%= link_to raw('<i class="glyphicon glyphicon-trash"></i> Delete'),
        @event, method: :delete, data: { confirm: "You sure?" }, title: @event.name %>
    <br>
<% end %>
<hr>
<h4>EVENT DETAILS</h4>
    <%= @event.details %>
<hr>
<% if signed_in? %>
    <a href="#" id="upload_court_photo"><%= image_tag "icon/upload.png" %> Upload Photo</a>
    <% if current_user?(@court.member) %>
        <%= render "modals/upload_event_photo_modal" %>
    <% end %>
<% end %>
<%= render "modals/select_event_photo_modal" %>
