<% provide(:title, "Find Events") %>
<div id="find_hoops_canvas" class="findHoops mapEl"></div>
<div id="content" class="findHoops">
    <% if @found_events.any? %>
        <div id="heading_articles">
            <h3>RESULTS(<%= @found_events.count %>)</h3>
        </div>
        <div id="results_container">
            <% @found_events.each do |event| %>
                <div class="event_result">
                    <h2 class="event_result_title"><%= link_to event.name, event %></h2>
                    <%= link_to event.court.name, event.court, class: "event_result_court" %>
                    <br>
                    <span class="event_result_time"><%= event.date_long%> <%= event.times_long %></span>
                    <br>
                    <span class="event_result_address gray"><%= event.court.location %></span>
                    <% if event.author %>
                        <div class="author_container">
                            <%= link_to( image_tag(event.author.profile_photo.thumb, { height: 40, width: 40 }), event.author) %>
                            <br>
                            <div class="author_info_right">
                            added by <b><%= link_to event.author.name, event.author %></b><br>
                            <%= time_ago_in_words(event.created_at) %> ago<br>
                            </div>
                        </div>
                    <% end %>
                    <span class="event_result_attending"><%= event.attendees.count %> attending</span>
                    <%= link_to "View Event", event, class: "event_result_join btn btn-info" %>
                </div>
            <% end %>
        </div>
        <p><%= link_to "Create A New Event", new_event_path %></p>
    <% else %>
    <div id="heading_articles">
        <h3>RESULTS(0)</h3>
    </div>
    <div id="results_container">
        <h4>Sorry, we couldn't find any events near <span id='thisLocation'>this location.</span></h4>
        You can <%= link_to "Create One", new_event_path %>
    </div>

    <% end %>
</div>