<% provide(:title, "Add an Event") %>
<% time_options = [["12:00", 12], ["1:00", 1], ["2:00", 2], ["3:00", 3], ["4:00", 4], ["5:00", 5], ["6:00", 6],
                     ["7:00", 7], ["8:00", 8], ["9:00", 9], ["10:00", 10], ["11:00", 11]] %>

<div id="add_event_map" class="mapEl"></div>
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %> </div>
    <% end %>
    <div id="content_wrapper">
        <div id="content">
            <div id="heading_articles">
            <h3>ADD EVENT</h3>
            </div>
            <div id="addEvent_container">
                <%= form_for @event, :html => {:autocomplete => "off"} do |f| %>
                    <%= f.hidden_field :court_id, id: 'realCourtID', value: 1 %>
                    <%= f.hidden_field :member_id, value: current_user.id %>
                    <%= f.hidden_field :start, id: 'realStart' %>
                    <%= f.hidden_field :end, id: 'realEnd' %>
                        <table id="addEvent_table" class="create_table">
                            <tbody>
                                <tr>
                                    <td class="td_label">Event Name</td>
                                    <td>
                                    <%= f.text_field :name, class: 'add_court_textInput' %>
                                    </td>
                                </tr>
                                <tr class="row_selectCourt">
                                    <td class="td_label">Court</td>
                                    <td class="rightColumn">
                                        <div class="court_search">
                                             <input name="selectCourt" type="text" id="court_search" placeholder="Type name of court">
                                        </div>
                                        <div class="court_search_selected" style="display: none;">
                                            <span id="selectedCourt"></span>
                                            <a id="editCourt" class="editThis">Edit</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="row_selectCourt court_search">
                                    <td></td>
                                    <td class="rightColumn" id="column_addCourt">
                                        <p class='court_not_found disclaimer'>
                                            Not finding the court? <%= link_to "Add court", new_court_path %>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td_label">Date</td>
                                    <td class="rightColumn">
                                        <input type="text" name="event_start_datepicker" id="event_datepicker">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td_label">Start Time</td>
                                    <td class="rightColumn">
                                        <%= select("start", "time", time_options, class: "changeTime") %>
                                        <%= select("start", "ampm", [['AM', 0],['PM', 12]], class: "changeTime") %>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td_label">Duration</td>
                                    <td class="rightColumn">
                                        <select id="event_duration" class='changeTime'>
                                            <option value="1">1 hour or less</option>
                                            <option value="2">2 hours</option>
                                            <option value="3" selected>3 hours</option>
                                            <option value="4">4 hours</option>
                                            <option value="5">5 hours</option>
                                            <option value="6">6 hours</option>
                                            <option value="7">7 hours</option>
                                            <option value="8">8 hours</option>
                                            <option value="24">All day</option>
                                            <option value="48">2 days</option>
                                            <option value="72">3 days</option>
                                            <option value="96">4 days</option>
                                            <option value="120">5 days</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td_label">
                                        Details
                                    </td>
                                    <td>
                                        <%= f.text_area :details, id: "reviewDetails" %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    </td>
                                    <td class="rightColumn">
                                        <input type="submit" id="submit_court" class="btn">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    <% end %>
                <br>
            </div>
            <div id="addCourt_complete">
                <h3 class="courtName_complete">
                </h3>
                <table id="courtDetails_complete">

                </table>
            </div>
            <div id="adspace">
                <a href="#"><img src="img/add_placeholder.jpg"></a>
            </div>
        </div>
    </div>
</div>