<% provide(:title, @event.name) %>
<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %> </div>
<% end %>
<div class="container-fluid" id="container-event">
    <%= render '/events/event_left' %>
    <%= render '/events/event_right' %>
    <div class="content">
        <%= render '/events/event_center' %>
    </div>
    <%= render '/ads/ad_728x90' %>

