<h2 id="showCourtName" class="courtH2"><%= @court.name %></h2>
<%= link_to("court website", @court.website, id: "courtWebsite") if @court.website.present? %>
<p id="showCourtAddress" class="gray">
    <%= @court.format_location %>
</p>
<p id="courtHours">
    <%= @court.open_hours %>
</p>
<% if signed_in? && current_user == @court.member %>
<%= link_to raw('<i class="glyphicon glyphicon-edit"></i> Edit'), edit_court_path(@court) %> |
<%= link_to raw('<i class="glyphicon glyphicon-trash"></i> Delete'), @court, method: :delete,
                                              data: { confirm: "You sure?" },
                                              title: @court.name %><br>
<% end %>
<div class="courtInfo2 center">
    <% if @court.skill_level > 0 %>
        <div id="courtDifficulty"><span id="difficulty"><%= @court.verbose_skill_level %></span>
            <%= image_tag @court.skill_image %>
        </div>
    <% end %>
</div>
<p><%= @court.details %></p>
<hr>
    <%= render '/courts/court_photos' %>
    <% if signed_in? %>
        <a href="#" id="upload_court_photo"><%= image_tag "icon/upload.png" %> Upload Photo</a>
        <%= render "modals/upload_court_photo_modal" %>
    <% end %>
    <% if signed_in? && current_user?(@court.member) %>
        <%= render "modals/select_court_photo_modal" %>
    <% end %>
<hr>
    <%= render '/courts/court_videos' %>
<hr>
<a name="reviews"></a>
<%= render '/reviews/court_reviews_container' %>
<br>
<%= render 'ads/placeholder' %>