	<div class="sidebar left">
            <div id="court_left">
                <div id="profile_pic_container" class="court_pic">
                    <%= image_tag @court.mainPhoto, id: "profile_pic" %>
                    <% if signed_in? && current_user?(@court.member) %>
                        <a href="#" id="edit_photo" class="edit_court_photo">
                            change photo
                        </a>
                    <% end %>
                </div>
                <div id="court_events_container">
                    <h4>EVENTS(<%= @court.events.count %>)</h4>
                    <% if @court.events.any? %>
                        <% @court.events.last(8).each do |event| %>
                            <div class="court_event">
                                <%= link_to event.name, event, class: "court_event_title" %>
                                <br>
                                <span class="court_event_time"><i><%= event.short_date %> <%= event.start_time %></i></span><br>
                                <span href="#" class="court_players"><%= pluralize(event.attendees.count, "person")%></span> playing
                                <%= link_to "Go", event, class: "btn btn-default join_btn" %>
                            </div>
                        <% end %>
                    <% end %>
                    <%= link_to "Create an Event", new_event_path %>
                    <hr>
                    <b>PICKUP GAME TIMES(<%= @court.pickup_games.count %>)</b>
                    <% if @court.pickup_games.any? %>
                        <% @court.pickup_games.last(3).each do |pickup_game| %>
                            <p>
                                <%= pickup_game.verbose_day %> at <%= pickup_game.verbose_time %>
                                <% if pickup_game.member_id === current_user.id %>
                                    <% if @court.pickup_games.count > 1 %>
                                        <a href='#'><i class="glyphicon glyphicon-edit"></i></a>
                                    <% end %>
                                <% end %>

                            </p>
                        <% end %>
                    <% end %>
                </div>
            </div>
    </div>
