	<div class="sidebar left">
            <div id="court_left">
                <div id="profile_pic_container" class="court_pic">
                    <%= image_tag @court.mainPhoto, id: "profile_pic" %>
                    <% if current_user?(@court.member) %>
                        <a href="#" id="edit_photo" class="edit_court_photo">
                            change photo
                        </a>
                    <% end %>
                </div>
                <button id="playToday" class="btn">Play at this court today</button>
                <div id="court_events_container">
                    <% if @court.events.any? %>
                        <h3>EVENTS(<%= @court.events.count %>)</h3>
                        <% @court.events.each do |event| %>
                            <div class="court_event">
                                <%= link_to event.name, event, class: "court_event_title" %>
                                <br>
                                <span class="court_event_time"><i>8:00 pm tonight</i></span><br>
                                <span href="#" class="court_players"><%= pluralize(event.attendees.count, "person")%></span> playing
                                <button class="btn join_btn">Join</button>
                            </div>
                        <% end %>
                    <% end %>
                </div>
            </div>
            <%= link_to "Create an Event", new_event_path %>
    </div>
