	<div class="sidebar right">
            <% if @court.member %>
                <div class="author_container">
                        <%= link_to (image_tag @court.member.photo), member_path(@court.member) %></a><br>
                        added by <b><%= link_to @court.member.name, member_path(@court.member), class: "court" %></a></b><br>
                        <%=  time_ago_in_words(@court.created_at) %> ago<br>
                </div>
            <% end %>
        <div id="profile_right">
            <div id="court_map" class="mapEl">
            </div>
            <input type="hidden" id="lat" value="<%=@court.lat %>">
            <input type="hidden" id="lng" value="<%= @court.lng %>">
            <h4 id="milesAway"></h4>
            <p>
                <a target="_blank" href="http://maps.google.com/?q=<%=URI::encode(@court.location)%>">
                    Get Directions
                </a>
            </p>
            <%= image_tag "add_right_placeholder.png", id: "ad_right2" %>
        </div>
    </div>
