<% if @court.court_photos.count %>
    <h3>PHOTOS(<%= @court.court_photos.count %>)</h3>
    <div id="courtPhotos_container">
        <p id="courtPhotos">
            <% for court_photo in @court.court_photos %>
                <%= image_tag court_photo.photo.thumb.to_s, class: "courtPhoto", rel: court_photo.id %>
            <% end %>
        </p>
    </div>
    <%= render "modals/gallery_modal" %>
    <%= render "modals/select_court_photo_modal" %>
<% else %>
    <h3>No Photos Yet</h3>
<% end %>

<% if signed_in? %>
    <a href="#" id="upload_court_photo"><%= image_tag "icon/upload.png" %> Upload Photo</a>
    <%= render "modals/upload_court_photo_modal" %>
<% end %>

