<% provide(:title, @court.name) %>
<div id="edit_court_map" class="mapEl"></div>
    <div id="content_wrapper">
        <div id="content">
            <div id="heading_articles">
                   <h3 id="edit_court_h3">EDIT COURT</h3>
            </div>
            <%= form_for @court, :remote => true, :html => {:autocomplete => "off"} do |f| %>
                <%= f.hidden_field :location %>
                <%= f.hidden_field :lat %>
                <%= f.hidden_field :lng %>
                <div id="addCourt_add">
                        <table id="addCourt_table">
                            <tbody>
                                <tr>
                                    <td></td><td><%= link_to "Return to Court", court_path(@court.id) %></td>
                                </tr>
                                <tr>
                                    <td style="padding-right: 10px;" colspan="2"><hr></td>
                                <tr>
                                <tr class="map_results_container">
                                    <td class="td_label">Court Address</td>
                                    <td width="672">
                                        <p id="address_search_result">
                                            <%= @court.location %>
                                        </p>
                                        <button type="button" class="btn btn-warning" id="searchAgain">New Address</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td_label">Court Name</td>
                                    <td>
                                        <%= best_in_place @court, :name, :as => :input, :activator => '#editName',
                                            :place_holder => "Court Name Here" %>
                                        <a id="editName" href="#" class="editThis"><i class="glyphicon glyphicon-edit"></i></a>
                                        <input style="display: none;" type="text" name="courtName" class="add_court_textInput" value="Court Name" />
                                        <button rel="edit_name" id="edit_Name" type="submit" class="editing editComplete">Submit</button>
                                    </td>
                                </tr>
                                <tr style="display:none;" id="addressNotFound">
                                    <td colspan="2" class="text-center"><span class="error text-center">Could not find address. Please refine your search.</span></td>
                                </tr>
                                <tr style="display:none;" class="address_search_container">
                                    <td class="td_label">New Court Address</td>
                                    <td width="672">
                                    <input id="address_search", placeholder: "Enter address of court" />
                                    <button id="submitMap" type="submit" class="hidden">Map</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td_label">Competition Level</td>
                                    <td>
                                        <%= best_in_place @court, :skill_level, :as => :select, :activator => '#editDifficulty',
            								:place_holder => -1, :collection => {
               								   -1 => "Undiclosed",
                								0 => "Don't know",
               									1 => "Beginner",
                								2 => "Intermediate",
                								3 => "Advanced",
                								4 => "Difficult" } %>
        								<a id="editDifficulty" href="#" class="editThis editable"><i class="glyphicon glyphicon-edit"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td_label">Best times to play pickup games</td>
                                    <td>
                                        <%= f.fields_for :pickup_games do |builder| %>
                                            <%= render 'courts/pickup_game_fields', :f => builder %>
                                        <% end %>
                                        <%= link_to_add_fields "Add additional day/time for pickup game", f, :pickup_games %>
                                    </td>
                                </tr>
                                    <tr>
                                    <td class="td_label">
                                        Court website link (if available)
                                    </td>
                                    <td>
                                        <%= best_in_place @court, :website, :as => :input, :activator => '#editWebsite',
                							:place_holder => "(no website yet)" %>
            							<a id="editWebsite" href="#" class="editThis"><i class="glyphicon glyphicon-edit"></i></a>

        								<input style="display: none;" type="text" class="editing editInput" value="Court Website" />
        								<button rel="edit_website" id="edit_Website" type="submit" class="editing editComplete">Submit</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-right: 10px;" colspan="2"><hr></td>
                                <tr>
                                <tr>
                                    <td></td><td><%= link_to "Return to Court", court_path(@court.id) %></td>
                                </tr>
                            </tbody>
                        </table>
                    <br>
                </div>
            <% end %>
            <div id="addCourt_complete">
                <h3 class="courtName_complete">
                </h3>
                <table id="courtDetails_complete">
                </table>
            </div>
            <div id="adspace">
                <%= render 'ads/placeholder' %>
            </div>
        </div>
    </div>