<% provide(:title, "Add a court") %>
<% day_options = [  ["Sunday", "Sunday"],
                    ["Monday", "Monday"],
                    ["Tuesday", "Tuesday"],
                    ["Wednesday", "Wednesday"],
                    ["Thursday", "Thursday"],
                    ["Friday", "Friday"],
                    ["Saturday", "Saturday"]] %>

<% time_options = [["12:00", 12], ["1:00", 1], ["2:00", 2], ["3:00", 3], ["4:00", 4], ["5:00", 5], ["6:00", 6],
                     ["7:00", 7], ["8:00", 8], ["9:00", 9], ["10:00", 10], ["11:00", 11]] %>

<% am_options = [["AM", "am"], ["PM", "pm"]] %>

<% difficulty_options = [['Undisclosed', -1], ["Don't Know", 0], ['Beginner', 1],
                        ['Intermediate', 2], ['Advanced', 3], ['Difficult', 4]] %>

<div id="add_court_map" class="mapEl"></div>
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %> </div>
    <% end %>
	<div id="content_wrapper">
        <div id="content">
            <div id="heading_articles">
                   <h3>ADD COURT</h3>
            </div>
            <%= form_for @court, :html => {:autocomplete => "off"} do |f| %>
        	    <span class="directions"></span>
        	    <%= f.hidden_field :location %>
                <%= f.hidden_field :lat %>
                <%= f.hidden_field :lng %>
                <input id="courtAddress" type="hidden">
                <div id="addCourt_add">
                    <table id="addCourt_table" class="create_table" >
                        <tbody>
                            <tr style="display:none;" class="map_results_container">
                                <td class="td_label">Court Address</td>
                                <td width="672">
                                    <p id="address_search_result">
                                        Address
                                    </p>
                                    <button type="button" class="btn btn-warning" id="searchAgain">Search Again</button>
                                </td>
                            </tr>
                            <tr style="display:none;" id="addressNotFound">
                                <td colspan="2" class="text-center"><span class="error text-center">Could not find address. Please refine your search.</span></td>
                            </tr>
                            <tr class="address_search_container">
                                <td class="td_label">New Court Address</td>
                                <td width="672">
                                <input id="address_search", placeholder: "Enter address of court" />
                                <button id="submitMap" type="submit" class="hidden">Map</button>
                                </td>
                            </tr>
                            <tr>
                                <td class="td_label"><%= f.label :name, "Court Name" %></td>
                                <td width="672"><%= f.text_field :name, id: "courtName", class: "add_court_textInput" %></td>
                            </tr>
                            <tr>
                                <td class="td_label"><%= f.label :skill_level, "Competition Level" %></td>
                                <td>
                                	<%= f.select :skill_level, options_for_select(difficulty_options), id: "competitionLevel" %>
                                </td>
                            </tr>
                            <tr>
                                <td class="td_label"><%= f.label :best_time, 'Best Time for a "pick-up" game' %></td>
                                <td>
                                    <%= f.select :pickup_day, options_for_select(day_options),   id: "pickupDay",  class: "day_of_week" %>
                                	<%= f.select :pickup_time, options_for_select(time_options), id: "pickupTime", class: "time_of_day" %>
                                    <%= f.select :pickup_am, options_for_select(am_options),     id: "pickupAM",   class: "am_or_pm" %>
                                </td>
                            </tr>
                            <tr>
                                <td class="td_label"><%= f.label "Accessible Hours" %></td>
                                <td>
                                	<%= f.select :open_time_1, options_for_select(time_options), id: "oepnTime1", class: "time_of_day" %>
                                    <%= f.select :open_am_1, options_for_select(am_options),  id: "openAM1", class: "am_or_pm"%>
                                        to
                                   	<%= f.select :open_time_2, options_for_select(time_options), id: "oepnTime2", class: "time_of_day" %>
                                    <%= f.select :open_am_2, options_for_select(am_options), id: "openAM2", class: "am_or_pm"  %>
                                </td>
                            </tr>
                            <tr>
                                <td class="td_label"><%= f.label :website, "Court Website" %></td>
                                <td><%= f.text_field :website, id: "courtWebsite", class: "add_court_textInput" %></td>
                            </tr>
                            <tr>
                            	<%= f.fields_for :reviews do |r| %>
                                <td class="td_label"><%= r.label :content, "Details/Review" %></td>
                                <td><%= r.text_area :content, id: "reviewDetails" %></td>
                                <%= r.hidden_field :member_id %>
                                <%= r.hidden_field :court_id %>
           						<% end %>
                            </tr>
                            <tr>
                            	<td></td><td><%= f.submit "Add my court", id: "submit_court", class: "btn right_align" %></td>
                            </tr>
                        </tbody>
                    </table>
                <% end %>
                <br>
            </div>
            <div id="addCourt_complete">
                <h3 class="courtName_complete">
                </h3>
                <table id="courtDetails_complete">

                </table>
            </div>
            <div id="adspace">
                <%= render 'ads/placeholder' %>
            </div>
        </div>
    </div>
</div>