<% provide(:title, "Add a court") %>
<% day_options = [["Sunday", "Sunday"], ["Monday", "Monday"], ["Tuesday", "Tuesday"], ["Wednesday", "Wednesday"],
                  ["Thursday", "Thursday"], ["Friday", "Friday"], ["Saturday", "Saturday"]] %>
                  
<% time_options = [["12:00", 12], ["1:00", 1], ["2:00", 2], ["3:00", 3], ["4:00", 4], ["5:00", 5], ["6:00", 6],
                     ["7:00", 7], ["8:00", 8], ["9:00", 9], ["10:00", 10], ["11:00", 11]] %>
                   
<% am_options = [["AM", "am"], ["PM", "pm"]] %>

<div id="add_court_map"></div>
	<div id="content_wrapper">
        <div id="content">
            <div id="heading_articles">
                   <h3>ADD COURT</h3>
            </div>
            <div id="enter_address">
        	    <span class="directions"></span> 
        	    <b>New Court Location</b>
                <input id="address_search" type="text" placeholder="1425 N Damen Ave, Chicago, IL 60622">
                <input id="courtAddress" type="hidden">
                <button type="submit" class="btn right_align">Map</button>
        	</div>
            <p id="latLng">
            </p>
            <div id="addCourt_add">
            	<%= form_for(@court) do |f| %>
                    <table id="addCourt_table">
                        <tbody>
                            <tr>
                                <%= f.label :name %>
                                <%= f.text_field :name %>
                            </tr>
                            <tr>
                                <td class="td_label"><%= f.label :skill_level "Competition Level" %></td>
                                <td>
                                	<%= f.select_tag(:skill_level, id: "competitionLevel", 
                                	options_for_select([['Beginner', 1], ['Intermediate', 2], ['Advanced', 3], ['Difficult', 4]])) %>
                                </td>
                            </tr>
                            <tr>
                                <td class="td_label"><%= f.label :best_time 'Best Time for a "pick-up" game' %></td>
                                <td>
                                    <%= f.select_tag(:pickup_day,  id: "pickupDay",  class: "day_of_week", options_for_select(day_options)) %>                            	                    
                                	<%= f.select_tag(:pickup_time, id: "pickupTime", class: "time_of_day", options_for_select(time_options)) %>               
                                    <%= f.select_tag(:pickup_am,   id: "pickupAM",   class: "am_or_pm",    options_for_select(am_options)) %>
                                </td>
                            </tr>
                            <tr>
                                <td class="td_label"><%= f.label "Accessible Hours" %></td>
                                <td>
                                	<%= f.select_tag(:open_time_1, id: "oepnTime1", class: "time_of_day", options_for_select(time_options)) %>
                                    <%= f.select_tag(:open_am_1, id: "openAM1", class: "am_or_pm", options_for_select(am_options)) %>
                                        to
                                   	<%= f.select_tag(:open_time_2, id: "oepnTime2", class: "time_of_day", options_for_select(time_options)) %>
                                    <%= f.select_tag(:open_am_2, id: "openAM2", class: "am_or_pm", options_for_select(am_options)) %>
                                </td>
                            </tr>
                            <tr>
                                <%= f.label :website %>
                                <%= url_field :website %>
                            </tr>
                            <tr>
                                <td class="td_label"><%= f.label :review "Details/Review" %></td>
                                <td> <!-- This needs to create the review's content, not the court's. -->
                                    <%= f.text_area :review.content, placeholder: "What do you think of this court?", id: "reviewDetails" %>
                                </td>
                            </tr>
                            <tr>
                            	<td></td><td><%= f.submit "Add my court", id: "submit_court" class: "btn right_align" %></td>
                            </tr>
                        </tbody>
                    </table>
                <% end %>
                <br>
            </div>
            <div id="addCourt_complete">
                <h3 class="courtName_complete">
                </h3>
                <table id="courtDetails_complete">
                
                </table>
            </div>
            <div id="adspace">
                <%= render 'ads/placeholder' %>
            </div>
        </div>
    </div>
</div>