<% provide(:title, "Sign up") %>
<div id="signup">
    <%= image_tag('signup.jpg', id: 'signup_bg') %>
    <div id="signup_modal">
    	<div id="alert-modal">
    		<% if @identity && @identity.errors.any? %>  
    			<div class="error_messages">  
      					<ul>  
      						<% @identity.errors.full_messages.each do |msg| %>  
        						<li><%= msg %></li>  
      						<% end %>  
      					</ul>  
    			</div>  
  			<% end %>  
        	<% flash.each do |key, value| %>
            	<div class="alert alert-<%= key %>"><%= value %> </div>
        	<% end %>
    	</div>
        <h2>SIGN UP</h2>
        <%= form_tag "/auth/identity/register" do %>
            <table id="signup_table">
                <tr>
                    <td width="50%" class="signup_label">
                        <b><%= label_tag :email %></b>
                    </td>
                    <td>
                        <%= text_field_tag :email, @identity.try(:email) %>
                    </td>
                </tr>
                <tr>
                    <td class="signup_label">
                        <b><%= label_tag :password %></b>
                    </td>
                    <td>
                        <%= password_field_tag :password, class: "signup_input" %>  
                    </td>
                </tr>
                <tr>
                    <td class="signup_label">
                        <b><%= label_tag :password_confirmation %></b>
                    </td>
                    <td>
                        <%= password_field_tag :password_confirmation, class: 'signup_input' %>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="text-right">
                        <%= submit_tag "Create Account", class: "btn" %>
                    </td>
                </tr>
            </table>
        <% end %>
        <div class="hr"></div>
<!--         <div id="facebook_signup_container">
            <h3>or</h3>
            <div id="facebook_btn"><a href="#"><img src="img/facebook_placeholder.png"></a></div>
        </div> -->
        <p class="signup_disclaimer text-center">By joining, you agree to the <a href="#">Terms and conditions</a></p>
    </div>
</div>
<div id="nav">
  <a href="/home" id="logo">Findbball</a>
  <div id="nav_top_right">
      <a id="howItWorks" href="#">How It Works</a> <span>|</span>
      <%= link_to "Login", home_path(:login => true) %> <span>|</span>  <a href="#" class='reportProblem'>Report a problem</a>
  </div>
</div>
<%= render 'modals/how_it_works_modal' %>
<%= render 'modals/report_problem_modal' %>

