<div id="friend_feed_container">
    <div class="friend_feed">
        <%= image_tag 'players/paris_hilton.jpg' %>
        <p class="status"><a href="#">Paris</a> posted an <a href="#">event</a><br>
            <a class="status_title" href="#">High Heels tournament</a>
        </p>
        <span class="status_time">2 hours ago</span>
    </div>
    <div class="friend_feed">
        <%= image_tag 'players/notacop.jpg' %>
        <p class="status"><a href="#">Notacop</a> posted an <a href="#">event</a><br>
            <a class="status_title" href="#">Let's do illegal stuff</a>
        </p>
        <span class="status_time">1 day ago</span>
    </div>
    <div class="friend_feed">
        <%= image_tag 'players/notacop.jpg' %>
        <p class="status"><a href="#">Notacop</a> reviewed an <a href="#">event</a><br>
            <a class="status_title" href="#">Street Ball</a>
        </p>
        <span class="status_time">1 day ago</span>
    </div>
    <div class="friend_feed">
        <%= image_tag 'players/falcor.gif' %>
        <p class="status"><a href="#">Falcor</a> added a <a href="#">court</a><br>
            <a class="status_title" href="#">Enchanted forest</a>
        </p>
        <span class="status_time">1 week ago</span>
    </div>
    <div class="friend_feed">
        <%= image_tag 'players/paris_hilton.jpg' %>
        <p class="status"><a href="#">Paris</a> added a <a href="#">court</a><br>
            <a class="status_title" href="#">My house y'all</a>
        </p>
        <span class="status_time">2 hours ago</span>
    </div>  
</div>