<div class="modal fade" id="loginModal" tabindex="-1" role="message" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-message">
        <div class="modal-content">
            <div class="modal-header">
            <h2 class="modal-title" id="myModalLabel">Login</h2>
            </div>
            <div class="modal-body">
                <div>
                <%= form_tag "/auth/identity/callback" do %>  
  					<div class="field">  
    					<%= label_tag :auth_key, "Email" %><br>  
    					<%= text_field_tag :auth_key %>  
  					</div>  
  					<div class="field">  
    					<%= label_tag :password %><br>  
    					<%= password_field_tag :password %>  
  					</div>  
                </div>
            </div>
            <div class="modal-footer">
            	<div class="actions"><%= submit_tag "Sign in", class: "btn btn-large btn-primary" %></div>  
				<% end %>  
                <%= link_to "Sign in with Facebook", "/auth/twitter" %>
                <p>New user? <%= link_to "Sign up now!", signup_path %></p>
            </div>
        </div>
    </div>
</div>