<div id="upload_court_photo_modal" class="modal fade">
    <div class="modal-content">
        <div class="modal-header">
            <h3>New Photo of <%= @event.name %></h3>
        </div>
        <div class="modal-body">
            <div id="upload_photo">
                <%= form_for @court_photo, :html => { :multipart => true } do |f| %>
                    <input class="btn" type="file" name="images" id="images" />
                    <button type="submit"  id="btn1">Upload Photo</button>
                    <div id="response"></div>
                    <br>
                    <%= image_tag "white.png", id: "court_photo_preview", class: "hid" %>
                    <br>
                    <p>
                        <%= f.hidden_field :court_id, :value => @court.id %>
                        <%= f.hidden_field :member_id, :value => @current_user.id %>
                        <%= f.hidden_field :event_id, :value => @event.id %>
                        <%= f.hidden_field :photo %>
                        <%= f.submit "Confirm Image", class: "btn hid", id: "confirm_image" %>
                    </p>
                    <br>
                <% end %>
            </div>
            <div class="modal-loading modal-cover"></div>
        </div>
    </div>
</div>