<div id="reviewsContainer">
	<% if @court.reviews.any? %>
    	<h3>REVIEWS(<%= @court.reviews.count %>)</h3>
    			<%= render @shown_reviews %>
				<div id="hiddenReviews" class="hide">
				<%= render @hidden_reviews %>
                <a href="#" id="hideReviews"><b>Show fewer reviews</b></a> <!-- Isn't calling the right jquery at the moment -->
                </div>
    		<a href="#" id="showReviews"><b>Show all <%= @court.reviews.count %> reviews</b></a> <!-- Isn't calling the right jquery at the moment -->
    <% else %>
    	<h3>REVIEWS(0)</h3>
    		<p class="profile_subtitle"><%= @court.name %> hasn't been reviewed yet</p>
    <% end %>
   
   </div>

</div>
