<div id="reviews_container">
<% if @court.reviews.any? %>
    	<h3>REVIEWS(<%= @court.reviews.count %>)</h3>
    		<ul id="reviews">
    			<%= render @reviews %>
    		</ul>
    		<%= will_paginate @reviews %>
    <% else %>
    	<h3>REVIEWS(0)</h3>
    		<p class="profile_subtitle"><%= @court.name %> hasn't been reviewed yet</p>
    <% end %>
</div>

<h3>REVIEWS(15)</h3>
            <div id="reviewsContainer">
                <div id="firstReview" class="review">
                    <%= image_tag "members/jerry.jpg", id: "review_author" %>
                    <p class="review_body">
                    <a class="review_author_name">Jerry</a><br>
                    <span class="reviewBody">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</span>
                    </p>
                    <hr>
                </div>
                <div class="review">
                    <%= image_tag "members/jerry.jpg", id: "review_author" %>
                    <p class="review_body">
                        <a class="review_author_name">Paris</a><br>
                        Nobody knows what ur talking abt. 
                    </p>
                    <hr>
                </div>
                <div class="review">
                    <%= image_tag "members/jerry.jpg", id: "review_author" %>
                    <p class="review_body">
                        <a class="review_author_name">Jerry</a><br>
                        Whoa, why was I speaking in greek?
                    </p>
                    <hr>
                </div>
                <div class="review">
                    <%= image_tag "members/jerry.jpg", id: "review_author" %>
                    <p class="review_body">
                    <a class="review_author_name">Jerry</a><br>
                   Duis vestibulum libero eget arcu consequat eleifend. Curabitur quis enim tincidunt, euismod neque vel, accumsan quam. Suspendisse rhoncus fringilla elit. Donec et est eu leo suscipit condimentum sed id velit. Fusce vulputate velit tincidunt lorem tempor, at porta ligula dictum. Donec vulputate urna ut lectus ultrices tempor. Maecenas facilisis hendrerit consectetur. Nullam sed tempus felis, id imperdiet diam. Praesent commodo neque eget elit porttitor blandit. In suscipit mollis augue, non elementum urna porttitor vel. Curabitur vitae erat pulvinar, hendrerit nisl eu, bibendum quam. Ut ac semper diam, consequat dignissim erat. Duis pharetra in mi ac iaculis. Cras augue lorem, tincidunt ut tristique at, eleifend at mauris. Nunc sapien nisl, egestas vitae viverra eget, sodales eu massa.
                    </p>
                    <hr>
                </div>
                <div id="hiddenReviews" class="hide">
                    <div class="review">
                       <%= image_tag "members/jerry.jpg", id: "review_author" %>
                        <p class="review_body">
                        <a class="review_author_name">Jerry</a><br>
                        Donec tempor, nisl non convallis sollicitudin, velit sapien ultricies velit, at gravida odio neque nec sem. Curabitur massa ligula, pulvinar id enim et, rutrum sollicitudin lacus. Etiam tincidunt ligula non nisl volutpat, vitae tempus lacus bibendum. Aliquam dapibus quam at massa vestibulum, vitae feugiat erat pretium. Cras sodales imperdiet nunc id rhoncus. Cras sagittis tortor eget imperdiet mollis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam commodo tellus arcu, non sodales quam rhoncus quis. Nam aliquam lobortis nunc vel fermentum. Quisque dictum placerat metus et faucibus. Suspendisse et neque mollis, pretium neque ac, rutrum dui. Fusce sagittis accumsan faucibus. Sed non lorem rutrum, congue urna vitae, aliquet massa. Vivamus laoreet dolor vitae elit vehicula, in blandit sem rutrum.
                        </p>
                        <hr>
                    </div>
                    <div class="review">
                        <%= image_tag "members/jerry.jpg", id: "review_author" %>
                        <p class="review_body">
                        <a class="review_author_name">Jerry</a><br>
                        Vestibulum varius a ipsum eget dignissim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eros dui, sodales quis cursus sed, aliquam in augue. Sed a metus augue. Quisque sollicitudin, felis at varius feugiat, dolor ligula rhoncus diam, at scelerisque ante orci ut leo. Donec eu diam non nulla faucibus egestas. Morbi eget urna elementum, volutpat sem vel, lobortis lacus. Vivamus viverra, mi eget porta venenatis, purus sem iaculis mi, id dapibus ipsum felis eu purus. Nullam pretium in lacus quis aliquet. Nam pellentesque est nibh, eget eleifend enim vehicula sit amet. Pellentesque nisi nibh, hendrerit vitae turpis ut, posuere vulputate neque. Vestibulum vulputate dignissim nibh eget sollicitudin. 
                        </p>
                        <hr>
                    </div>
                    <div class="review">
                       <%= image_tag "members/jerry.jpg", id: "review_author" %>
                        <p class="review_body">
                        <a class="review_author_name">Jerry</a><br>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. 
                        </p>
                        <hr>
                    </div>
                    <div class="review">
                       <%= image_tag "members/jerry.jpg", id: "review_author" %>
                        <p class="review_body">
                        <a class="review_author_name">Jerry</a><br>
                        Donec tempor, nisl non convallis sollicitudin, velit sapien ultricies velit, at gravida odio neque nec sem. Curabitur massa ligula, pulvinar id enim et, rutrum sollicitudin lacus. Etiam tincidunt ligula non nisl volutpat, vitae tempus lacus bibendum. Aliquam dapibus quam at massa vestibulum, vitae feugiat erat pretium. Cras sodales imperdiet nunc id rhoncus. Cras sagittis tortor eget imperdiet mollis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                        </p>
                        <hr>
                    </div>
                     <div class="review">
                            <%= image_tag "members/jerry.jpg", id: "review_author" %>
                            <p class="review_body">
                            <a class="review_author_name">Jerry</a><br>
                           Duis vestibulum libero eget arcu consequat eleifend. Curabitur quis enim tincidunt, euismod neque vel, accumsan quam. Suspendisse rhoncus fringilla elit. Donec et est eu leo suscipit condimentum sed id velit. Fusce vulputate velit tincidunt lorem tempor, at porta ligula dictum. Donec vulputate urna ut lectus ultrices tempor. Maecenas facilisis hendrerit consectetur. Nullam sed tempus felis, id imperdiet diam. Praesent commodo neque eget elit porttitor blandit. In suscipit mollis augue, non elementum urna porttitor vel. Curabitur vitae erat pulvinar, hendrerit nisl eu, bibendum quam. Ut ac semper diam, consequat dignissim erat. Duis pharetra in mi ac iaculis. Cras augue lorem, tincidunt ut tristique at, eleifend at mauris. Nunc sapien nisl, egestas vitae viverra eget, sodales eu massa.
                            </p>
                            <hr>
                        </div>
                        <div class="review">
                           <%= image_tag "members/jerry.jpg", id: "review_author" %>
                            <p class="review_body">
                            <a class="review_author_name">Jerry</a><br>
                            Donec tempor, nisl non convallis sollicitudin, velit sapien ultricies velit, at gravida odio neque nec sem. Curabitur massa ligula, pulvinar id enim et, rutrum sollicitudin lacus. Etiam tincidunt ligula non nisl volutpat, vitae tempus lacus bibendum. Aliquam dapibus quam at massa vestibulum, vitae feugiat erat pretium. Cras sodales imperdiet nunc id rhoncus. Cras sagittis tortor eget imperdiet mollis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam commodo tellus arcu, non sodales quam rhoncus quis. Nam aliquam lobortis nunc vel fermentum. Quisque dictum placerat metus et faucibus. Suspendisse et neque mollis, pretium neque ac, rutrum dui. Fusce sagittis accumsan faucibus. Sed non lorem rutrum, congue urna vitae, aliquet massa. Vivamus laoreet dolor vitae elit vehicula, in blandit sem rutrum.
                            </p>
                            <hr>
                        </div>
                        <div class="review">
                            <%= image_tag "members/jerry.jpg", id: "review_author" %>
                            <p class="review_body">
                            <a class="review_author_name">Jerry</a><br>
                            Vestibulum varius a ipsum eget dignissim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eros dui, sodales quis cursus sed, aliquam in augue. Sed a metus augue. Quisque sollicitudin, felis at varius feugiat, dolor ligula rhoncus diam, at scelerisque ante orci ut leo. Donec eu diam non nulla faucibus egestas. Morbi eget urna elementum, volutpat sem vel, lobortis lacus. Vivamus viverra, mi eget porta venenatis, purus sem iaculis mi, id dapibus ipsum felis eu purus. Nullam pretium in lacus quis aliquet. Nam pellentesque est nibh, eget eleifend enim vehicula sit amet. Pellentesque nisi nibh, hendrerit vitae turpis ut, posuere vulputate neque. Vestibulum vulputate dignissim nibh eget sollicitudin. 
                            </p>
                            <hr>
                        </div>
                        <div class="review">
                           <%= image_tag "members/jerry.jpg", id: "review_author" %>
                            <p class="review_body">
                            <a class="review_author_name">Jerry</a><br>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. 
                            </p>
                            <hr>
                        </div>
                        <div class="review">
                            <%= image_tag "members/jerry.jpg", id: "review_author" %>
                            <p class="review_body">
                            <a class="review_author_name">Jerry</a><br>
                            Donec tempor, nisl non convallis sollicitudin, velit sapien ultricies velit, at gravida odio neque nec sem. Curabitur massa ligula, pulvinar id enim et, rutrum sollicitudin lacus. Etiam tincidunt ligula non nisl volutpat, vitae tempus lacus bibendum. Aliquam dapibus quam at massa vestibulum, vitae feugiat erat pretium. Cras sodales imperdiet nunc id rhoncus. Cras sagittis tortor eget imperdiet mollis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                            </p>
                            <hr>
                        </div>
                        <a href="#" id="hideReviews"><b>Show less reviews</b></a>
                    </div>
                <a href="#" id="showReviews"><b>Show all 15 reviews</b></a>
            </div>