    <div id="footer">
        <a id="aboutUs" href="#">About us</a> | <a id="contact" href="#">Contact</a> | <a id="help" href="#">Help</a> |
        <a id="privacyPolicy" href="#">Privacy Policy</a> | <a id="terms" href="#">Terms of Use</a> | <a href="#" class="reportProblem">Report a Problem</a>
    </div>
    <div id="member"></div>
</div>
<%= render "modals/about_us_modal" %>
<%= render "modals/contact_modal" %>
<%= render "modals/privacy_policy_modal" %>
<%= render "modals/terms_of_use_modal" %>
<%= render 'modals/how_it_works_modal' %>
<%= render 'modals/login_modal' %>
<%= render 'modals/report_problem' %>
</body>
</html>