<!--[if IEMobile 7 ]> <div id="main" class="iem7"> <![endif]-->
<!--[if lt IE 7 ]> <div id="main" class="ie"> <![endif]-->
<!--[if IE 7 ]>    <div id="main"class="ie ie7"> <![endif]-->
<!--[if IE 8 ]>    <div id="main" class="ie ie8"> <![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!-->
<div id="main"><!--<![endif]-->
	<div id="top">
	          <div id="nav">
                    <a href="/home" id="logo">Findbball</a>
                    <ul id="nav_dropdown" class="dropdown">
                        <li>
                            <a href="#">Bball Courts</a>
                            <ul>
                                <li><a href="#">Add Court</a></li>
                                <li><a href="#">Court Profiles</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Community</a>
                            <ul>
                                <li><a href="#">Find Events</a></li>
                                <li><a href="#">Create Event</a></li>
                                <li><a href="#">Find Member</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">My Bball</a>
                            <ul>
                                <li><a href="#">My Profile</a></li>
                                <li>
                                    <a href="#">My Courts</a>
                                    <ul>
                                        <li><a href="court.html">Wicker Park Fieldhouse</a></li>
                                        <li><a href="court.html">Another Really Really Long...</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">My Events</a>
                                    <ul>
                                        <li><a href="event.html">Roller Skate BBall</a></li>
                                        <li><a href="event.html">Senior BBall</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">My Teams</a>
                                    <ul>
                                        <li><a href="#">Hawks</a></li>
                                        <li><a href="#">Eagles</a></li>
                                        <li><a href="#">Anonymous</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <% if signed_in? %>
                            <li>
                                <%= link_to "Logout", signout_path, method: "delete" %>
                            </li>
                        <% else %>
                            <li>
                                <a id="loginBtn" href="#">Login</a>
                            </li>
                            <li>
                                <li><%= link_to "Sign up", signup_path %></li>
                            </li>
                        <% end %>
                    </ul>
                    <% if signed_in? %>
                        <div id="nav_top_right">
                            <div id="logged_in">
                                You are logged in as
                                <%= link_to( image_tag(current_user.profile_photo, { height: 40, width: 40 }), current_user) %>
                                <%= link_to( current_user.name, current_user, id: "nav_username") %>
                            </div>
                        </div>
                    <% else %>
                        <div id="nav_top_right">
                            <a id="howItWorks" href="#">How It Works</a> <span>|</span>
                            <%= link_to "Not a member yet?", signup_path %>
                        </div>
                    <% end %>
                </div>
	<div id="nav2_container">
		<div id="nav2">
		    <form id="i_want_to_form">
    		    I want to:
    		    <select id="i_want_to">
    		        <option>Find Hoops</option>
    		        <option>Find Events</option>
    		        <option>Find Members</option>
    		    </select>
    		    <div id="distance">
    		        within
        		    <select id="within">
                        <option>Any Distance</option>
                        <option>100 miles</option>
                        <option>50 miles</option>
                        <option>25 miles</option>
                        <option>10 miles</option>
        		    </select>
        		    of
        		    <input id="location_search" type="text" placeholder="Chicago" autocomplete="off"/>
        		</div>
    		    <input id="member_search" class="typeahead" type="text" style="display:none;" placeholder="Member Name" />
    		    <button type="submit" class="btn right_align">Go</button>
	        </form>
		</div>
    </div>
    <% if signed_in? %>
        <div id="nav3_container">
            <div id="nav3">
                <a href="#">My Profile</a>
                <a href="#">Edit Profile</a>
                <a href="account_settings.html">Account Settings</a>
                <a href="#">My Courts</a>
                <a href="#">My Events</a>
                <a href="#">My Teams</a>
                <div id="mailbox">
                    <a href="#">Inbox(2) <span class="mailbox_icon"></span></a>
                </div>
            </div>
        </div>
    <% end %>
</div>