<!--[if IEMobile 7 ]> <div id="main" class="iem7"> <![endif]-->
<!--[if lt IE 7 ]> <div id="main" class="ie"> <![endif]-->
<!--[if IE 7 ]>    <div id="main"class="ie ie7"> <![endif]-->
<!--[if IE 8 ]>    <div id="main" class="ie ie8"> <![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!-->
<div id="main"><!--<![endif]-->
    <div id="top">
      <div id="nav">
            <a href="/home" id="logo">Findbball</a>
            <ul id="nav_dropdown" class="dropdown">
                <li>
                    <a class="noLink" href="#">My Bball</a>
                    <ul>
                        <li><%= link_to "My Profile", member_path(current_user) %></li>
                        <li><%= link_to "Edit Profile", edit_member_path(current_user) %></li>
                        <% if current_user.courts.any? %>
                            <li>
                                <a class="noLink" href="#">My Courts</a>
                                        <ul>
                                        <% current_user.courts.each do |court| %>
                                            <li><%= link_to court.name, court_path(court.id) %></li>
                                        <% end %>
                                        </ul>
                            </li>
                        <% end %>
                            <li>
                                <%= link_to "Add Court", new_court_path %>
                            </li>
                        <% if current_user.events.any? %>
                            <li>
                                <ul>
                                <a class="noLink" href="#">My Events</a>
                                <% current_user.events.each do |event| %>
                                    <li><%= link_to event.name, event_path(event.id) %></li>
                                <% end %>
                                </ul>
                            </li>
                        <% end %>
                            <li>
                                <%= link_to "Add Event", new_event_path %>
                            </li>
                    </ul>
                </li>
                <li>
                    <%= link_to "Logout", signout_path, method: "delete" %>
                </li>
            </ul>
            <div id="nav_top_right">
                <div id="logged_in">
                    <a href="#" class="reportProblem">Report Problem</a>
                    | You are logged in as
                    <%= link_to( image_tag(current_user.profile_photo.thumb, { height: 40, width: 40 }), current_user) %>
                    <%= link_to( current_user.name, current_user, id: "nav_username") %>
                </div>
            </div>
        </div>
        <%= render 'shared/nav2' %>
</div>
<div class="after_header_padding"></div>