<!DOCTYPE html>
<html>

<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <% if @mapEl %>
    <script id="showMap" type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4elMMkrN6j24qAKUVl7jeH1y3bS7vRqM&libraries=places&sensor=false"></script>
  <% end %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>FindBball</title>
  <meta name="author" content="Thorne Brandt">
</head>
	<% if @noHeaderFooter %>
        <body class="gradient">
        <% else %>
    		<body class="body">
    		<%= render 'layouts/header' %>
	<% end %>
	 <%= yield %>
  <%= debug(params) if Rails.env.development? %>
	<% unless @noHeaderFooter %>
		<%= render 'layouts/footer' %>
	<% end %>
</body>
</html>
