<% provide(:title, "Edit user") %>
<%= form_for(@member) do |f| %>
    <%= @member.inspect %>
    <%= render 'shared/error_messages', object: f.object %>
    <br>
    <%= best_in_place @member, :name, :type => :input, :activator => '#editName',
        :ok_button => "Submit", :ok_button_class => "btn btn-primary btnMargin",
        :cancel_button => "Cancel", :cancel_button_class => "btn btn-danger btnMargin"
    %>
    &nbsp;<a href="#" id="editName" class="editThis">edit name</a>
    <br>

    <%= best_in_place @member, :name, :type => :input, :activator => '#editFullName',
        :ok_button => "Submit", :ok_button_class => "btn btn-primary btnMargin",
        :cancel_button => "Cancel", :cancel_button_class => "btn btn-danger btnMargin"
    %>
    &nbsp;<a href="#" id="editFullName" class="editThis">edit full name</a>

<% end %>
