<% provide(:title, "Edit user") %>
<%= form_for(@member) do |f| %>
<div id="fullname">
    <h2>
        <%= best_in_place @member, :full_name, :type => :input, :activator => '#editFullName',
            :ok_button => "Submit", :ok_button_class => "btn btn-primary btnMargin"
        %>
    </h2>
    <a id="editFullName" href="#" class="editThis editable">edit full name</a>
    <input style="display: none;" type="text" class="editing editInput" value="Jerry Gurgish" />
    <button rel="edit_fullname" id="edit_fullName" type="submit" class="editing editComplete">Submit</button>
</div>
</form>
<p id="home_address">
    <div id="edit_address" class="editable">
        <span class="edit_profile_label">Location</span>

        <%= best_in_place @member, :general_location, :type => :input, :activator => '#editGeneralLocation',
            :ok_button => "Submit", :ok_button_class => "btn btn-primary btnMargin",
            :nil => "General Location"
        %>
        <a id="editGeneralLocation" href="#" class="editThis editable">edit general location</a>
    </div>
</p>
<p>
    <span class="edit_profile_label">Nationality</span>

    <%= best_in_place @member, :nationality, :type => :select, :activator => '#editNationality', :collection =>
        [
            [-1, "Undisclosed"],
            [1, "Black"],
            [2, "White"],
            [3, "African"],
            [4, "Latino"],
            [5, "Hispanic"],
            [6, "Asian"],
            [7, "Native American"],
            [8, "Middle Eastern"],
            [9, "Mixed"],
            [10, "Other"]
        ]
    %>
    <a id="editNationality" href="#" class="editThis editable">edit nationality</a>
</p>
<div class="datepicker_container">
    <span class="edit_profile_label">Birthdate</span>
    <%= best_in_place @member, :birthdate, :type => :date, :nil => "Not set", :activator => '#editBirthdate',
        :ok_button => "Submit", :ok_button_class => "btn btn-primary btnMargin",
        :classes => 'datepicker'

    %>
    <a id="editBirthdate" href="#" class="editThis editable">edit birthdate</a>
<!--     <div class="datepicker_container">
        <span class="edit_profile_label">Birthdate</span>
        <div class="input-append date" id="datepicker" data-date="03-21-1964" data-date-format="dd-mm-yyyy">
          <input class="span2" size="16" type="text" value="12-02-2012">
          <span class="add-on"><i class="icon-th"></i></span>
        </div>
    </div> -->

</div>
<br>
<p>
    <span class="edit_profile_label">About Me</span>
    <br>
    <div id="about_me">
        <div id="edit_about_me" class="editable">
            My actual name is Gary. I’ve just gone by Jerry because my first boss misunderstood my name and I couldn’t bear to correct him. So now I go by Jerry. Oh well. I’m not sure how I ended up on this site. I don’t understand computers very well. I’m trying to read the sports pages
        </div>
        <a href="#" class="editThis editable">edit about me</a>
        <textarea rows="8" class="editing editInput" type="text">My actual name is Gary. I’ve just gone by Jerry because my first boss misunderstood my name and I couldn’t bear to correct him. So now I go by Jerry. Oh well. I’m not sure how I ended up on this site. I don’t understand computers very well. I’m trying to read the sports pages
        </textarea>
        <br>
        <button rel="edit_about_me" type="submit" class="editing editComplete">Submit</button>
        <button rel="edit_profile_name" type="submit" class="editing editCancel">Cancel</button>
    </div>
</p>
<p>
    <span class="edit_profile_label">Favorite Place to Play</span>
    <br>
    <a href="#">Add a favorite place</a>
</p>
<p>
    <span class="edit_profile_label">Teams</span>
    <br>You are not on any teams <a href="#">manage teams</a>
</p>
<% end %>
<%= @member.inspect %>
