<% provide(:title, "Edit user") %>
<%= form_for(@member) do |f| %>
<div id="fullname">
    <h2>
        <%= best_in_place @member, :full_name, :type => :input, :activator => '#editFullName',
            :ok_button => "Submit", :ok_button_class => "btn btn-primary btnMargin",
            :nil => "Full Name Here"
        %>
    </h2>
    <a id="editFullName" href="#" class="editThis editable">edit full name</a>
    <input style="display: none;" type="text" class="editing editInput" value="Jerry Gurgish" />
    <button rel="edit_fullname" id="edit_fullName" type="submit" class="editing editComplete">Submit</button>
</div>
</form>
<p id="location">
    <span class="edit_profile_label">Location</span>

    <%= best_in_place @member, :general_location, :type => :input, :activator => '#editGeneralLocation',
        :ok_button => "Submit", :ok_button_class => "btn btn-primary btnMargin",
        :nil => "General Location"
    %>
    <a id="editGeneralLocation" href="#" class="editThis editable">edit general location</a>
</p>
<p id="birthdate">
    <div class="datepicker_container">
        <span class="edit_profile_label">Birthdate</span>
        <%= best_in_place @member, :birthdate, :type => :date, :nil => "Not set", :activator => '#editBirthdate',
            :ok_button => "Submit", :ok_button_class => "btn btn-primary btnMargin", :classes => 'datepicker'
        %>
        <a id="editBirthdate" href="#" class="editThis editable">edit birthdate</a>
    </div>
    <!-- <p>
        <span class="edit_profile_lable">File Upload Test</span>
    </p> -->
</p>
<p id="height">
    <span class="edit_profile_label">Height</span>
    <%= best_in_place @member, :height, :type => :input, :activator => '#editHeight',
        :ok_button => "Submit", :ok_button_class => "btn btn-primary btnMargin",
        :nil => "Add height"
    %>
    <a id="editHeight" href="#" class="editThis editable">edit height</a>
</p>
<p id="weight">
    <span class="edit_profile_label">Weight</span>
    <%= best_in_place @member, :weight, :type => :input, :activator => '#editWeight',
        :ok_button => "Submit", :ok_button_class => "btn btn-primary btnMargin",
        :nil => "Add weight"
    %>
    <a id="editWeight" href="#" class="editThis editable">edit weight</a>
</p>
<p id="nationality">
    <span class="edit_profile_label">Nationality</span>

    <%= best_in_place @member, :nationality, :type => :select, :activator => '#editNationality', :collection =>
        [
            [-1, "Undisclosed"],
            [1, "Black"],
            [2, "White"],
            [3, "African"],
            [4, "Latino"],
            [5, "Hispanic"],
            [6, "Asian"],
            [7, "Native American"],
            [8, "Middle Eastern"],
            [9, "Mixed"],
            [10, "Other"]
        ]
    %>
    <a id="editNationality" href="#" class="editThis editable">edit nationality</a>
</p>
<p id="position">
    <span class="edit_profile_label">Favorite Position</span>

    <%= best_in_place @member, :position, :type => :select, :activator => '#editPosition', :collection =>
        [
            [-1, "Undisclosed"],
            [1, "Point guard"],
            [2, "Shooting guard"],
            [3, "Small forward"],
            [4, "Power forward"],
            [5, "Center"],
            [6, "Offense"],
            [7, "Defense"],
            [8, "Offsensive"],
            [9, "Quarterback"],
            [10, "Other"],
            [11, "Don't care"]
        ]
    %>
    <a id="editPosition" href="#" class="editThis editable">edit position</a>
</p>
<p id="organized">
    <span class="edit_profile_label">Highest Level of Organized Ball</span><br>
        <%= best_in_place @member, :position, :type => :select, :activator => '#editOrganized', :collection =>
            [
                [-1, "Undisclosed"],
                [1, "Grade School"],
                [2, "Camp"],
                [3, "High School"],
                [4, "College"],
                [5, "Proffessional"]
            ]
        %>
        <a id="editOrganized" href="#" class="editThis editable">edit experience</a>
</p>
<p id="skill_level">
    <span class="edit_profile_label">Skill Level</span><br>
        <%= best_in_place @member, :skill_level, :type => :select, :activator => '#editSkillLevel', :collection =>
            [
                [-1, "Undisclosed"],
                [1, "Never Played"],
                [2, "Beginner"],
                [3, "Intermediate"],
                [4, "Advanced"],
                [5, "Baller"]
            ]
        %>
        <a id="editSkillLevel" href="#" class="editThis editable">edit skill level</a>
</p>
<p id="favorite_player">
    <span class="edit_profile_label">Favorite Player</span>

    <%= best_in_place @member, :favorite_player, :type => :input, :activator => '#editFavoritePlayer',
        :ok_button => "Submit", :ok_button_class => "btn btn-primary btnMargin",
        :nil => "Add Favorite Player"
    %>
    <a id="editFavoritePlayer" href="#" class="editThis editable">edit favorite player</a>
</p>
<p>
    <span class="edit_profile_label">About Me</span>
    <br>
    <div id="about_me">
        <%= best_in_place @member, :about, :type => :textarea, :activator => '#editAboutMe',
            :ok_button => "Submit", :ok_button_class => "btn btn-primary btnMargin",
            :nil => "Write a short paragraph about yourself"
        %><br>
        <a id="editAboutMe" href="#" class="editThis editable">edit About Me</a>
    </div>

</p>
<!-- <p>
    <span class="edit_profile_label">Favorite Place to Play</span>
    <br>
    <a href="#">Add a favorite place</a>
</p>
<p>
    <span class="edit_profile_label">Teams</span>
    <br>You are not on any teams <a href="#">manage teams</a>
</p> -->
<% end %>
