<div class="sidebar right">
    <div id="profile_right">
        <div id="courts_container">
            <% if @member.courts.any? %>
                <h3>COURTS(<%= @member.courts.count %>)</h3>
                        <% @shown_courts.each do |court| %>
                            <p class="court">
                                <%= link_to court.name, court_path(court), class: "court" %><br>
                                <%= court.format_location %>
                            </p>
                        <% end %>
            <% else %>
                <h3>COURTS(0)</h3>
                    <% if current_user? @member %>
                        You haven't added any courts.
                        <%= link_to "Create a new court", new_court_path %></p>
                    <% else %>
                        <%= @member.name %> hasn't added any courts.
                    <% end %>
                    <br>
            <% end %>
            <p>
        </div>
    </div>
</div>