    <h2 id="fullname"><%= @member.full_name || @member.name %></h2>
    <% if current_user? @member %>
    <p id="member_play_review">
        <%= link_to raw('<i class="glyphicon glyphicon-edit"></i> Edit Profile</a>'), edit_member_path(@member) %> |
        <%= link_to raw('<i class="glyphicon glyphicon-trash"></i> Delete Account</a>'), @member, method: :destroy,
              data: { confirm: raw("Are you sure you want to delete your profile? &nbsp; &nbsp; &nbsp; This can't be undone.") }  %>
        <br>
        <%= render 'members/member_play_review' %>
    </p>
    <% else %>
        <p id="member_since">
            <% if @member.lastLogin %>
            <strong>last online <%= member_since_date(@member.lastLogin) %></strong><br>
            <% end %>
            member since <%= member_since_date(@member.created_at) %><br>
            <% if @member.registered %>
                <i class="glyphicon glyphicon-star"></i> Verified email
            <% else %>
                has not verified email.
            <% end %>
        </p>
    <% end %>

        <% if @member_has_schedule == true %>
            <%= render 'members/member_headline' %>
        <% end %>

    <div id="member_info">
        <% if @member.birthdate %>
            <div class="member_info_cell">
                <h4>Age</h4>
                <%= @member.age %>
            </div>
        <% end %>
        <% if  @member.height_feet && @member.height_feet > 3 %>
            <div class="member_info_cell">
                <h4>Height</h4>
                <%= @member.height %>
            </div>
        <% end %>
        <% if  @member.weight %>
            <div class="member_info_cell">
                <h4>Weight</h4>
                <%= @member.weight %> lbs
            </div>
        <% end %>
        <% if @member.nationality != -1 %>
            <div class="member_info_cell">
                <h4>Ethnicity</h4>
                <%= @member.nationality_verbose %>
            </div>
        <% end %>
        <% if @member.skill_level != -1 %>
            <div class="member_info_cell">
                <h4>Skill Level</h4>
                <%= @member.skill_level_verbose %>
            </div>
        <% end %>
        <% if @member.plays_basketball != -1 %>
            <div class="member_info_cell">
                <h4>Plays Basketball</h4>
                <%= @member.plays_basketball_verbose %>
            </div>
        <% end %>
        <% if @member.position != -1 %>
            <div class="member_info_cell">
                <h4>Favorite Position</h4>
                <%= @member.position_verbose %>
            </div>
        <% end %>
        <% if @member.organized != -1 %>
            <div class="member_info_cell">
                <h4>Highest Level of Ball</h4>
                <%= @member.organized_verbose %>
            </div>
        <% end %>
        <% if @member.favorite_player %>
            <div class="member_info_cell">
                <h4>Favorite Player</h4>
                <%= @member.favorite_player %>
            </div>
        <% end %>
        <% if @member.about %>
            <h4>About</h4>
            <%= @member.about %>
        <% end %>
    </div>
    <% if !current_user? @member %>
        <%= render 'members/member_history' %>
    <% end %>