<span id="profile_completion_h3">PROFILE COMPLETION</span>
<div id="progbar">
    <div id="progbar_fill">
        <span id="progbar_indicator"><%= @member.profile_completion[:percent] %>%</span>
    </div>
</div>
<div id="next_step">
Next Step: <!-- Try doing this better with a hash -->
<% if @member.profile_completion[:edit_link] == "edit_member_path(@member)" %>
    <%= link_to @member.profile_completion[:next_action], edit_member_path(@member) %>
<% elsif @member.profile_completion[:edit_link] == "find_hoops" %>
    <%= link_to @member.profile_completion[:next_action], "/find-hoops" %>
<% elsif @member.profile_completion[:edit_link] == "new_court_path" %>
	<%= link_to @member.profile_completion[:next_action], new_court_path %>
<% else %>
    <strong>
        <span href="#"><%= @member.profile_completion[:next_action] %></span>
    </strong>
<% end %>
</div>