<% provide(:title, "Edit user") %>
<%= form_for(@member) do |f| %>
<div id="fullname">
    <h2>
        <%= best_in_place @member, :full_name, :as => :input, :activator => '#editFullName',
            :place_holder => "Enter Full Name"
        %>
        <a id="editFullName" href="#" class="editThis"><i class="glyphicon glyphicon-edit"></i></a>
    </h2>
    <input style="display: none;" type="text" class="editing editInput" value="Jerry Gurgish" />
    <button rel="edit_fullname" id="edit_fullName" type="submit" class="editing editComplete">Submit</button>
</div>
</form>
<p id="location">
    <span class="edit_profile_label">Location</span>

    <%= best_in_place @member, :general_location, :as => :input,
        :activator => '#editGeneralLocation', :place_holder => "General Location"
    %>
    <a id="editGeneralLocation" href="#" class="editThis editable"><i class="glyphicon glyphicon-edit"></i></a>
</p>
<p id="birthdate">
    <div class="datepicker_container">
        <span class="edit_profile_label">Birthday</span>
        <%= best_in_place @member, :birthdate, :as => :date, :place_holder => "Not set",
            :activator => '#editBirthdate', :class => 'datepicker', :ok_button => "Submit"
        %>
        <a id="editBirthdate" href="#" class="editThis editable"><i class="glyphicon glyphicon-edit"></i></a>
    </div>
    <!-- <p>
        <span class="edit_profile_lable">File Upload Test</span>
    </p> -->
</p>
<p id="heightContainer">
    <span class="edit_profile_label">How tall are you?</span>
    <br>
    <%= best_in_place @member, :height_feet, :as => :select, :activator => '#editHeightFeet',
        :place_holder => "0 feet", :collection => {
            "0" => "0 feet",
            "1" => "1 foot",
            "2" => "2 feet",
            "3" => "3 feet",
            "4" => "4 feet",
            "5" => "5 feet",
            "6" => "6 feet",
            "7" => "7 feet",
            "8" => "8 feet"
        }
    %>
    <a id="editHeightFeet" href="#" class="editThis editable"><i class="glyphicon glyphicon-edit"></i></a>
    <%= best_in_place @member, :height_inches, :as => :select, :activator => '#editHeightInches',
        :place_holder => '0 inches', :collection => {
            "0" => "0 inches",
            "1" => "1 inches",
            "2" => "2 inches",
            "3" => "3 inches",
            "4" => "4 inches",
            "5" => "5 inches",
            "6" => "6 inches",
            "7" => "7 inches",
            "8" => "8 inches",
            "9" => "9 inches",
            "10" => "10 inches",
            "11" => "11 inches"
        }

    %>
    <a id="editHeightInches" href="#" class="editThis editable"><i class="glyphicon glyphicon-edit"></i></a>
</p>
<p id="weight">
    <span class="edit_profile_label">Weight(lbs)</span>
    <%= best_in_place @member, :weight, :as => :input, :activator => '#editWeight',
        :place_holder => "Add weight"
    %>
    <a id="editWeight" href="#" class="editThis editable"><i class="glyphicon glyphicon-edit"></i></a>
</p>
<p id="nationality">
    <span class="edit_profile_label">Nationality</span>

    <%= best_in_place @member, :nationality, :as => :select, :activator => '#editNationality', :collection =>
        {
            "-1" => "Undisclosed",
            "1" => "Black",
            "2" => "White",
            "3" => "African",
            "4" => "Latino",
            "5" => "Hispanic",
            "6" => "Asian",
            "7" => "Native American",
            "8" => "Middle Eastern",
            "9" => "Mixed",
            "10" => "Other"
        }
    %>
    <a id="editNationality" href="#" class="editThis editable"><i class="glyphicon glyphicon-edit"></i></a>
</p>
<p id="plays_basketball">
    <span class="edit_profile_label">How Often Do You Play?</span>

    <%= best_in_place @member, :plays_basketball, :as => :select, :activator => '#editPlaysBasketball', :collection =>
        {
            "-1" => "Undisclosed",
            "1" => "Any given second",
            "2" => "Every Day",
            "3" => "A few times a week",
            "4" => "Once a week",
            "5" => "A few times a month",
            "6" => "Once a month",
            "7" => "A few times a year",
            "8" => "Hardly ever",
            "9" => "I've never played"
        }
    %>
    <a id="editPlaysBasketball" href="#" class="editThis editable"><i class="glyphicon glyphicon-edit"></i></a>
</p>
<p id="position">
    <span class="edit_profile_label">Favorite Position</span>

    <%= best_in_place @member, :position, :as => :select, :activator => '#editPosition', :collection =>
        {
            "-1" => "Undisclosed",
            "1" => "Point guard",
            "2" => "Shooting guard",
            "3" => "Small forward",
            "4" => "Power forward",
            "5" => "Center",
            "6" => "Offense",
            "7" => "Defense",
            "8" => "Offensive",
            "9" => "Quarterback",
            "10" => "Other",
            "11 "=> "Don't care"
        }
    %>
    <a id="editPosition" href="#" class="editThis editable"><i class="glyphicon glyphicon-edit"></i></a>
</p>
<p id="organized">
    <span class="edit_profile_label">Highest Level of Organized Ball</span><br>
        <%= best_in_place @member, :organized, :as => :select, :activator => '#editOrganized', :collection =>
            {
                "-1" => "Undisclosed",
                "1" => "Grade School",
                "2" => "Camp",
                "3" => "High School",
                "4" => "College",
                "5" => "Proffessional"
            }
        %>
        <a id="editOrganized" href="#" class="editThis editable"><i class="glyphicon glyphicon-edit"></i></a>
</p>
<p id="skill_level">
    <span class="edit_profile_label">Skill Level</span><br>

        <%= best_in_place @member, :skill_level, :as => :select, :activator => '#editSkillLevel', :collection =>
            {
                '-1'=> "Undisclosed",
                '1' => "Never Played",
                '2' => "Beginner",
                '3' => 'Intermediate',
                '4' => 'Advanced',
                '5' => 'Baller'
            }
        %>
        <a id="editSkillLevel" href="#" class="editThis editable"><i class="glyphicon glyphicon-edit"></i></a>
</p>
<p id="favorite_player">
    <span class="edit_profile_label">Favorite Player</span>

    <%= best_in_place @member, :favorite_player, :as => :input, :activator => '#editFavoritePlayer',
        :ok_button => "Submit", :ok_button_class => "btn btn-primary btnMargin",
        :place_holder => "Add Favorite Player"
    %>
    <a id="editFavoritePlayer" href="#" class="editThis editable"><i class="glyphicon glyphicon-edit"></i></a>
</p>
<p>
    <span class="edit_profile_label">Introduce Yourself</span>
    <br>
    <div id="about_me">
        <%= best_in_place @member, :about, :as => :textarea, :activator => '#editAboutMe',
            :place_holder => "What do you do for a living? What are your hobbies?"
        %><br>
        <a id="editAboutMe" href="#" class="editThis editable"><i class="glyphicon glyphicon-edit"></i></a>
    </div>

</p>
<!-- <p>
    <span class="edit_profile_label">Favorite Place to Play</span>
    <br>
    <a href="#">Add a favorite place</a>
</p>
<p>
    <span class="edit_profile_label">Teams</span>
    <br>You are not on any teams <a href="#">manage teams</a>
</p> -->
<% end %>
