    <div class="sidebar left">
        <div id="profile_left">
            <% if signed_in? %>
                <div id="profile_pic_container">
                    <%= image_tag @member.profile_photo, id: "profile_pic" %>
                    <% if signed_in? && current_user == @member %>
                        <a href="#" id="edit_photo" class="edit_player_photo">
                            edit photo
                        </a>
                    <% end %>
                </div>
                <%= render "modals/upload_profile_photo_modal" %>
            <% else %>
                <%= image_tag @member.photo.url, id: "profile_pic" %>
            <% end %>
            <p id="profile_name"><%= @member.name %></p>
            <p class="profile_subtitle"><%= @member.slogan %></p>
            <%= render '/reviews/reviews_container' %>
            <div id="member_events_container">
                <% if @member.events.any? %>
                    <h3>EVENTS(<%= @member.events.count %>)</h3>
                        <div id="events_container">
                        <% @member.events.each do |event| %>
                            <div class="court_event">
                                <%= link_to event.name, event, class: "court_event_title" %>
                                <br>
                                <span class="court_event_time"><i><%= event.short_date %> <%= event.start_time %></i></span><br>
                                <span href="#" class="court_players"><%= pluralize(event.attendees.count, "player")%></span>
                                <% if signed_in? %>
                                    <% if @current_attendee = current_user.attendingEvent(event.id) %>
                                        <div class="checkmark"><i class="glyphicon glyphicon-ok "></i></div>
                                    <% else %>
                                        <%= link_to "Go", event, class: "btn btn-default join_btn" %>
                                    <% end %>
                                <% end %>
                            </div>
                        <% end %>
                        </div>
                <% else %>
                    <% if current_user? @member %>
                    <h3>EVENTS(0)</h3>
                        You haven't added any events
                        <%= link_to "Create a new event", new_event_path %></p>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>