<div class="sidebar right">
    <div id="profile_right">
        <div id="member_friends_container">
            <%= render('members/member_friends') %>
        </div>
        <div id="courts_container">
            <% if @member.courts.any? %>
                <h3>COURTS(<%= @member.courts.count %>)</h3>
                        <% @shown_courts.each do |court| %>
                            <p class="court">
                                <%= link_to court.name, court_path(court), class: "court" %><br>
                                <%= court.format_location %>
                            </p>
                        <% end %>
            <% else %>
                <% if current_user? @member %>
                    <h3>COURTS(0)</h3>
                    <p>
                        You haven't added any courts.<br>
                        <%= link_to "Create a new court", new_court_path %>
                    </p>
                <% end %>
                    <br>
            <% end %>
        </div>
        <div id="member_pickup_games_container">
            <%= render('members/member_pickup_games') %>
        </div>
    </div>
</div>