    <h2 id="fullname"><%= @member.full_name %></h2>
    <p id="member_since">member since <%= member_since_date(@member.created_at) %></p>
        <% if @member_has_schedule == true %>
            <%= render 'members/member_headline' %>
        <% end %>
    <table id="member_info">
        <tbody>
            <tr>
                <th>Age</th>
            </tr>
            <tr>
                <td><%= @member.age || "Undisclosed" %></td>
            </tr>
            <tr>
                <th>Height</th>
                <th class="tdRightAlign">Weight</th>
            </tr>
            <tr>
                <td><%= @member.height || "a few" %> inches</td>
                <td class="tdRightAlign"><%= @member.weight || "a few" %> lbs</td>
            </tr>
            <tr>
                <th>Nationality</th>
                <th class="tdRightAlign">Favorite Position</th>
            </tr>
            <tr>
                <td><%= @member.nationality_mapped %></td>
                <td class="tdRightAlign"><%= @member.position_mapped %></td>
            </tr>
            <tr>
                <th>Plays Basketball</th>
                <th class="tdRightAlign">Skill Level</th>
            </tr>
            <tr>
                <td><%= @member.plays_basketball_mapped %></td>
                <td class="tdRightAlign"><%= @member.skill_level_mapped %></td>
            </tr>
            <tr>
                <th>Highest Level of Organized Ball</th>
                <th class="tdRightAlign">Favorite Player</th>
            </tr>
            <tr>
                <td><%= @member.organized_mapped %></td>
                <td class="tdRightAlign"><%= @member.favorite_player || "Secret" %></td>
            </tr>
            <tr>
                <th colspan="2">About</th>
            </tr>
            <tr>
                <td colspan="2" style="text-align: justify">
                    <%= @member.about %>
                </td>
            </tr>
        </tbody>
    </table>
    <%= render 'members/member_history' %>