    <div class="sidebar left">
        <div id="profile_left">
        	<%= image_tag "player_placeholder.png", id: "profile_pic" %>
            <p id="profile_name"><%= @member.name %></p>
            <p class="profile_subtitle">Play with me</p>
            <%= render '/friends/friends_container' %>
            <%= render '/teams/teams_container' %>
            <%= render '/reviews/reviews_container' %>
        </div>
    </div>