<% provide(:title, @member.name) %>
<div class="container-fluid">
	<%= render '/members/profile_left' %>
  	<%= render '/members/profile_right' %>

     <div class="content">
        <% if current_user? @member %>
            <%= render '/members/edit_profile_center_best' %>
        <% else %>
            <%= render '/members/profile_center' %>
        <% end %>
    </div>
    <%= render '/ads/placeholder' %>

