<% provide(:title, @member.name) %>
<div class="container-fluid">
    <% if current_user? @member %>
        <%= render '/members/edit_profile_left' %>
        <%= render '/members/edit_profile_right' %>
        <div class="content">
            <%= render '/members/edit_profile_center' %>
        </div>
    <% else %>
        <%= render '/members/profile_left' %>
        <%= render '/members/profile_right' %>
        <div class="content">
            <%= render '/members/profile_center' %>
        </div>
    <% end %>
    <%= render '/ads/placeholder' %>

